body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid blue;
  min-height: 30px;
  align-items: center;
}
.wrapper {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;  
  height: auto;
  flex: 1;
}
@media screen and (max-width: 960px) {
  .wrapper {
    flex-direction: column;
  }
  .row {
    height: auto;
  }
}
.wrapper > .wrapper {
  flex: 1;
  border-bottom: 1px solid red;
}

.row > div {
  vertical-align: middle;
}
.id {
  width: 40px;
}
.name {
  flex: 1;
  max-width: 300px;
}
.count {
  flex: 1;
  min-width: 150px;
}